/* Small Screen */
.container {
  margin: 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero__left {
  order: 2;
  margin-bottom: 1rem;
}

.hero__title {
  color: #4895ef;
  margin: 1rem 0 0.5rem 0;
  font-size: 2.44rem;
}

.hero__genre {
  color: #b5179e;
  margin-bottom: 1rem;
  font-size: 1.59rem;
}

.hero__description {
  color: #64748b;
  margin-bottom: 1rem;
}

.hero__button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #4895ef;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.hero__button:hover {
  background-color: #2c73c4;
}

.hero__right {
  order: 1;
}

.hero__image {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

/* Medium Screen */
@media (min-width: 768px) {
  /*
     * Nothing TODO Here.
     * We dont change style Hero. 
     */
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .hero {
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .hero__left {
    order: 1;
    flex-basis: 40%;
    padding-right: 1rem;
  }

  .hero__title {
    margin: 0.5rem 0;
  }

  .hero__description {
    margin-bottom: 2rem;
  }

  .hero__right {
    order: 2;
    flex-basis: 60%;
  }

  .hero__image {
    float: right;
  }
}
